/* TitleAndMission.css */

.title-and-mission {
    max-width: 800px;
}

.bright-font {
    color: #f5424b;
    font-weight: bold;
    font-size: 24px;
}

li:not(:last-child) {
    margin-bottom: 10px;
}

