/* TitleAndMission.css */

.title-and-mission {
    max-width: 800px;
}

.bright-font {
    color: #f5424b;
    /* Set the color to a bright noticeable color (in this case, gold) */
    font-weight: bold;
    /* Make it bold for emphasis */
    font-size: 24px;
    /* Adjust the font size for emphasis */
}

