/* TitleAndMission.css */

.title-and-mission {
    max-width: 1000px;
}

.bright-font {
    font-weight: bold;
    font-size: 19px;
}

li:not(:last-child) {
    margin-bottom: 10px;
}

.funding {
    width: 15%;
    display:center;
    padding: 10px 10px;
}

.section {
    background-color: #f7f7f7;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    text-align: left;
}